---
// Components IMPORT 
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

// Layout IMPORT
import Head from "./Head.astro";

// Styles IMPORT
import "../styles/reset.css";
import "../styles/global.css";

const {
  title = "My Astro Blog",
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots,
} = Astro.props;
---

<html lang="en">
	<Head {title} {description} {image} {frontmatter} {robots} />
	<body>
		<Navbar />
		<slot> Default Text</slot>
		<Footer />
	</body>
</html>
